html {
  font-family: 'Hind Siliguri';
  font-size: 25.629px;
}

body {
  background-color: #57BC90;
  background-color: hsla(0, 0%, 50%, 0.9);
}

.top-nav {
  overflow: hidden;
  background-color: #525257;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  border: solid 1px #77C9D4;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17.086px;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav a.active {
  background-color: #77C9D4;
  color: white;
  text-shadow: 1px 1px 0px black;
}

h1 {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 57.665px;
  color: #ffffff;
  text-align: center;
  margin: 5px;
}

h2 {
  font-family: 'K2D';
  font-size: 38.443px;
  margin-left: 20px;
  margin-bottom: 0;
}

h3 {
  font-family: 'K2D';
  font-size: 57.665px;
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
}

p {
  text-indent: 20px;
  background-color: #77C9D4;
  font-size: 25.629px;
  padding: 10px;
  display: block;
  clear: both;
  margin: 10px;
}

div.intro, figure {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

p.intro {
  margin: 0 auto;
  box-shadow: 5px 5px 5px #777777;
}

ul.corelinks a {
  text-decoration: none;
  color: #ffffff;
}

ul.corelinks a:hover {
  background-color: #525257;
  padding: 0 5px;
  border-radius: 5px;
}

#family, #faith, #friends, #farming, #fun {
  padding-top: 25px;
}

#mainimg {
  box-shadow: 5px 5px 5px #777777;
}

#top {
  padding-top: 0;
  margin: 0;
}

div.core {
  background-color: #77C9D4;
  overflow: auto;
  box-shadow: 5px 5px 5px #777777;
}

img.float-left {
  float: left;
  clear: both;
  padding: 0 20px 20px 0;
  margin:  0px auto;
  display: block;
}

img.float-right {
  float: right;
  clear: both;
  padding: 10px 20px 20px 10px;
}

.back-to-top-img {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 1em;
  display: block;
  z-index: 10;
}

iframe {
  padding: 10px 20px;
  clear: both;
  border: none;
  width: 560px;
  height: 315px;
}

footer {
  background-color: #A5A5AF;
  padding: 10px;
  float: none;
  clear: both;
  font-size: 17.086px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
