html {
  font-family: 'Hind Siliguri';
  font-size: 25.629px;
}
body {
  background-color: #57BC90;
  background-color: hsla(0, 0%, 50%, 0.9);
}
h1 {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 57.665px;
  background-color: #525257;
  color: #ffffff;
  text-align: center;
}
h2 {
  font-family: 'K2D';
  font-size: 38.443px;
}
h3 {
  font-family: 'K2D';
  font-size: 57.665px;
  display: block;
}
p {
  text-indent: 20px;
  background-color: #77C9D4;
  font-size: 25.629px;
  padding: 10px;
  display: block;
  clear: both;
}
.intro {
  display: block;
  margin: 0PX auto;
  text-align: center;
}
div {
  display: block;
}
div.core {
  background-color: #77C9D4;
  overflow: auto;
}
img.float-left {
  float: left;
  clear: both;
  padding: 0 20px 20px 0;
  margin:  0px auto;
  display: block;
}
img.float-right {
  float: right;
  clear: both;
  padding: 0 20px 20px 0;
}

footer {
  background-color: #A5A5AF;
  padding: 10px;
  float: none;
  clear: both;
  font-size: 17.086px;
  text-decoration: none;
}
